<h1>Pipes</h1>
<hr>
<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}}</td>
      <td>uppercase</td>
      <td>{{nombre|uppercase}}</td>
      <td>Convierte a mayúsculas todo el texto</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>lowrcase</td>
      <td>{{nombre|lowercase}}</td>
      <td>Convierte a minúsculas todo el texto</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>slice:3</td>
      <td>{{nombre|slice:3}}</td>
      <td>Elimina el número de caracteres que se le pasa por parámetro</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>slice:0:3</td>
      <td>{{nombre|slice:0:3}}</td>
      <td>Conserva solo los caracteres que están entre los números pasados por parámetro. El primero inlcuido, excluido el último</td>
    </tr>
    <tr>
      <td>{{arreglo}}</td>
      <td>slice:1:5</td>
      <td>{{arreglo|slice:1:5}}</td>
      <td>Conserva los elementos del array que están entre los números pasados por parámetro. El primero inlcuido, excluido el último</td>
    </tr>
    <tr>
      <td>{{PI}}</td>
      <td>number:'1.0-2'</td>
      <td>{{PI|number:'1.0-2'}}</td>
      <td>Formatea el número usando la siguiente estructura: '[numEnteros].[numMinDecimales]-[numMaxDecimales]'</td>
    </tr>
    <tr>
      <td>{{a}}</td>
      <td>percent:'2.2-2'</td>
      <td>{{a|percent:'2.2-2'}}</td>
      <td>Formatea el número usando la siguiente estructura: '[numEnteros].[numMinDecimales]-[numMaxDecimales]'</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td>currency:'EUR':'symbol':'4.0-0'</td>
      <td>{{salario|currency:'EUR':'symbol':'4.0-0'}}</td>
      <td> value_expression | currency [ : currencyCode [ : display [ : digitsInfo [ : locale ] ] ] ]</td>
    </tr>
    <tr>
      <td>{{valorDePromesa}}</td>
      <td>async</td>
      <td>{{valorDePromesa|async}}</td>
      <td>Se suscribe a un Observable o Promesa y devuelve el último valor que ha emitido.</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
      <td>date</td>
      <td>{{fecha|date}}</td>
      <td>value_expression | date [ : format [ : timezone [ : locale ] ] ]</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
      <td>date:'medium'</td>
      <td>{{fecha|date:'medium'}}</td>
      <td>Se le pueden pasara diferentes alias con un formato de fecha predefinido</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
      <td>date:'dd - MMMM'</td>
      <td>{{fecha|date:'dd - MMMM'}}</td>
      <td>Se le pueden pasar un formato personalizado</td>
    </tr>
    <tr>
      <td>{{nombre2}}</td>
      <td>capitalizado</td>
      <td>{{nombre2|capitalizado}}</td>
      <td>Convierte la primera letra de cada palabra en mayúsculas y el resto en minúsculas</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td>contrasena:{{mostrar}}
        <br>
        <button (click)="mostrar =!mostrar" type="button" class="btn btn-outline-primary">Activar/Desactivar</button>
      </td>
      <td>{{nombre|contrasena:mostrar}}</td>
      <td>Se le pasa de parametro un boolean para convertirlas todas o solo la primera palabra. Por defecto es true</td>
    </tr>
    <tr>
      <td>{{nombre2}}</td>
      <td>capitalizado:false</td>
      <td>{{nombre2|capitalizado:false}}</td>
      <td>Se le pasa de parametro un boolean para convertirlas todas o solo la primera palabra. Por defecto es true</td>
    </tr>
  </tbody>
</table>

<h4>Slice</h4>
<ul>
  <li *ngFor="let item of arreglo | slice:5:20">{{item}} </li>
</ul>

<h4>JSON</h4>
<pre>{{heroe | json}}</pre>

<h4>Youtube <small>videos</small></h4>
<hr>
<iframe width="560" height="315" [src]="video | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
