<h4>Formularios <small>data</small></h4>
<hr />
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">
  <div formGroupName="nombrecompleto">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid':
              forma.get('nombrecompleto.nombre').errors != null && forma.get('nombrecompleto.nombre').touched,
            'is-valid': forma.get('nombrecompleto.nombre').errors == null
          }"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
        />
        <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="invalid-feedback">
          El nombre es requerido
        </div>
        <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" class="invalid-feedback">
          Introduce al menos {{ forma.get('nombrecompleto.nombre').errors?.minlength?.requiredLength }} caracteres
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          [ngClass]="{
            'is-invalid':
              forma.get('nombrecompleto.apellido').errors != null && forma.get('nombrecompleto.apellido').touched,
            'is-valid': forma.get('nombrecompleto.apellido').errors == null
          }"
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
        />
        <div *ngIf="!!forma.get('nombrecompleto.apellido').errors?.required" class="invalid-feedback">
          El apellido es requerido
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input
        class="form-control"
        [ngClass]="{
          'is-invalid': forma.get('correo').errors != null && forma.get('correo').touched,
          'is-valid': forma.get('correo').errors == null
        }"
        type="email"
        placeholder="Correo electrónico"
        formControlName="correo"
      />
      <div *ngIf="!!forma.get('correo').errors?.required" class="invalid-feedback">El correo es requerido</div>
      <div *ngIf="!!forma.get('correo').errors?.pattern" class="invalid-feedback">El formato no es válido</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-md-8">
      <input
        [ngClass]="{
          'is-invalid': forma.get('username').errors != null && forma.get('username').touched,
          'is-valid': forma.get('username').errors == null
        }"
        class="form-control"
        type="text"
        placeholder="Usuario"
        formControlName="username"
      />
      <div *ngIf="forma.get('username').errors?.existe" class="invalid-feedback">El usuario ya está en uso</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">
      <input class="form-control" type="password" placeholder="Password" formControlName="password1" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar Password</label>
    <div class="col-md-8">
      <input class="form-control" type="password" placeholder="Password" formControlName="password2" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <!--
        el formControlName dentro de un formArrayName debe hacer referencia a la posición del elemento en el array
      -->
      <input
        *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
        [formControlName]="i"
        type="text"
        class="form-control"
      />
    </div>
    <button (click)="agregarPasatiempo()" type="button" class="btn btn-outline-primary">Nuevo</button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8"><button type="submit" class="btn btn-outline-primary">Guardar</button></div>
  </div>

  Formulario válido? {{ forma.valid }} <br />
  {{ forma.status }}
</form>
