<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Peliculas App</h1>
    <p class="lead">Esta es una aplicación de películas</p>
  </div>
</div>

<div class="container">
   <app-galeria [peliculas]="cartelera | slice:0:6" titulo="Películas en cartelera"></app-galeria>
   <br>
   <app-galeria [peliculas]="populares | slice:0:6" titulo="Películas populares"></app-galeria>
   <br>
   <app-galeria [peliculas]="infantiles | slice:0:6" titulo="Películas infantiles"></app-galeria>
</div>
